body {
  padding-top: 70px;
}

.navbar-fixed-top {
  background-color: #FAFAFA;
}

#head {
  font-family: 'Noto Sans', sans-serif;
}

.navbar-fixed-top .container .nav {
  text-transform: uppercase;
}

#about_tab {
  background-image:url('http://www.planwallpaper.com/static/images/nature-wallpapers-hd.jpg');
  background-attachment: fixed;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1{
  color:#fff;
}

.jumbotron p{
  color:#fff;
}

.row {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 150px;

}

#profile-pic {
  border: none;
  padding: 0px;
}
.img-circle {
    padding-left: 10px;
    border-radius: 50%;
}

#education_tab {
  padding-left: 10px;
  padding-right: 10px;
}

#edu_jumbotron {
  background-image:url('http://i2.wp.com/www.dailycal.org/assets/uploads/2014/03/DSC_0272.jpg');
  height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#edu_jumbotron h1{
  color:white;
  text-shadow: 2px 2px 2px black;
}


#proj_tab {
  padding-left: 10px;
  padding-right: 10px;
}
